@use "_breakingpoint" as bp;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

$cyan: hsl(180, 66%, 49%);
$hover_cyan: #9ce3e5;
$dark_violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish_violet: hsl(257, 7%, 63%);
$very_dark_blue: hsl(255, 11%, 22%);
$very_dark_violet: hsl(260, 8%, 14%);

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  padding: 0 7rem;

  @include bp.lg {
    padding: 0 3.5rem;
  }

  @include bp.sm {
    padding: 0 1rem;
  }
}

button {
  background-color: $cyan;
  border: none;
  color: white;

  &:hover {
    background-color: $hover_cyan;
  }
}

nav .container {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include bp.md {
    height: auto;
    flex-direction: column;
  }

  .img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include bp.md {
      width: 100%;
    }

    .menu {
      width: 1.5rem;
      height: 1.5rem;
      display: none;

      @include bp.md {
        display: inline-block;
      }
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    width: 100%;

    @include bp.md {
      background-color: $dark_violet;
      flex-direction: column;
      align-content: center;
      padding: 0.5rem 0;
      padding-bottom: 1.5rem;
      border-radius: 1rem;
    }

    .nav-item-container {
      width: 40%;

      @include bp.md {
        flex-direction: column;
        margin: auto;
      }
    }

    .logo {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .nav-item {
      color: $grayish_violet;
      margin: auto;
      font-size: 0.8rem;
      font-weight: 700;
      padding: 0 0.5rem;

      &:hover {
        color: $dark_violet;
      }

      @include bp.md {
        padding: 0.5rem 0;

        &:hover {
          color: $very_dark_violet;
        }
      }
    }
  }

  .buttons {
    width: 9rem;

    @include bp.md {
      width: 100%;
      flex-direction: column;
    }

    button {
      width: 4rem;
      height: 2rem;
      border-radius: 1rem;

      @include bp.md {
        margin: auto;
        padding: 0.5rem 0;
        width: 80%;
      }
    }

    .login_btn {
      background-color: transparent;
      color: $grayish_violet;
    }
  }
}

.body {
  .lower_body {
    background-color: $gray;

    .boost {
      text-align: center;
      display: flex;
      flex-direction: column;
      background-image: url(../images/bg-boost-desktop.svg);
      background-color: $dark_violet;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 3rem;

      span {
        font-weight: 900;
        font-size: 2rem;
        color: white;

        @include bp.md {
          font-size: 1rem;
        }
      }

      button {
        width: 8rem;
        height: 2.5rem;
        border-radius: 2rem;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    .features_container {
      margin: 5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;

      @include bp.md {
        flex-direction: column;
      }

      .second {
        transform: translateY(1.75rem);
      }

      .third {
        transform: translateY(3.5rem);
      }
    }

    .features {
      width: 15rem;
      background-color: white;
      border-radius: 0.2rem;
      padding: 0.75rem;
      margin: 0 1rem;
      padding-top: 0;
      z-index: 50;

      @include bp.md {
        max-width: 80%;
        padding: 1rem;
        margin: 1.7rem auto;
        text-align: center;
        padding-bottom: 2rem;
      }

      img {
        border-radius: 50%;
        background-color: $dark_violet;
        width: 2rem;
        padding: 1rem;
        transform: translateY(-50%);
      }

      span {
        color: $grayish_violet;
      }

      h3 {
        font-weight: 700;
        color: $very_dark_violet;
        margin-top: 0;
      }
    }

    .stats-title {
      text-align: center;

      h2 {
        color: $very_dark_violet;
      }

      span {
        color: $grayish_violet;
        font-weight: 500;
      }
    }

    .shortenedLink {
      display: flex;
      flex-direction: column;
      align-content: space-around;

      .outer_div {
        padding: 0.5rem;
        margin: 0.25rem 0;
        background-color: white;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          display: flex;
          width: 60%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .inner_div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 30%;

          a {
            color: $cyan;
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          button {
            width: 4rem;
            border-radius: 0.3rem;
          }

          button.clicked {
            background-color: $dark_violet;
          }
        }
      }
    }

    .linkForm {
      padding: 2rem;
      background-color: $dark_violet;
      background-image: url("../images/bg-shorten-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      position: relative;
      border-radius: 0.5rem;

      @include bp.md {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }

      button {
        width: 6.5rem;
        height: 2rem;
        border-radius: 0.3rem;

        @include bp.md {
          width: 100%;
          margin: 0.5rem auto;
        }
      }

      input {
        width: 100%;
        margin-right: 1rem;
        height: 2rem;
        border: none;
        outline: none;
        border-radius: 0.3rem;
        padding: 0 1rem;

        &:hover {
          border: none;
          outline: none;
        }

        @include bp.md {
          width: -moz-available;
          margin: 0.5rem auto;
        }
      }
    }
  }

  .upper_body .container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100vw;
    margin-top: 3rem;
    margin-bottom: 8rem;

    @include bp.md {
      flex-direction: column-reverse;
    }

    img {
      height: 20rem;
      position: relative;
      left: 15rem;

      @include bp.md {
        height: auto;
        left: 0;
      }
    }

    div {
      max-width: 25rem;
      display: flex;
      flex-direction: column;

      @include bp.md {
        margin-top: -4rem;
        padding-right: 2rem;
        text-align: center;
      }

      h1 {
        color: $very_dark_violet;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
        margin-top: 5rem;
      }

      .intro-text {
        color: $grayish_violet;
      }

      .get-started-btn {
        width: 6.5rem;
        height: 2rem;
        border-radius: 1rem;
        margin-top: 1.5rem;

        @include bp.md {
          margin: auto;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: $very_dark_blue;
  padding-top: 5rem;

  a,
  .socials a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $cyan;
    }

    @include bp.md {
      margin: 0 auto;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include bp.md {
      flex-direction: column;
    }

    .logo {
      width: 7rem;
      height: 2rem;

      @include bp.md {
        margin: -2rem auto 2rem auto;
      }
    }

    ul {
      text-decoration: none;
      list-style: none;

      @include bp.md {
        position: relative;
        left: -1rem;
      }

      li {
        margin: 0.4rem;
        font-size: 0.8rem;
      }

      .header {
        font-weight: 500;
        color: white;
      }
    }

    .socials {
      display: flex;
      justify-content: space-between;
      width: 20%;

      @include bp.md {
        align-content: space-around;
        width: 50%;
        margin: auto;
      }

      img {
        width: 1rem;
      }
    }

    .lists {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: space-between;

      @include bp.md {
        flex-direction: column;
        width: -moz-available;
        margin: auto;
        text-align: center;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  color: wheat;
  text-align: center;
  margin-top: 3rem;
  padding: 0.25rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
