@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  padding: 0 7rem;
}
@media (max-width: 960px) {
  .container {
    padding: 0 3.5rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}

button {
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: white;
}
button:hover {
  background-color: #9ce3e5;
}

nav .container {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 720px) {
  nav .container {
    height: auto;
    flex-direction: column;
  }
}
nav .container .img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 720px) {
  nav .container .img {
    width: 100%;
  }
}
nav .container .img .menu {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
@media (max-width: 720px) {
  nav .container .img .menu {
    display: inline-block;
  }
}
nav .container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .container .links {
  width: 100%;
}
@media (max-width: 720px) {
  nav .container .links {
    background-color: hsl(257, 27%, 26%);
    flex-direction: column;
    align-content: center;
    padding: 0.5rem 0;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
  }
}
nav .container .links .nav-item-container {
  width: 40%;
}
@media (max-width: 720px) {
  nav .container .links .nav-item-container {
    flex-direction: column;
    margin: auto;
  }
}
nav .container .links .logo {
  font-weight: 700;
  font-size: 1.5rem;
}
nav .container .links .nav-item {
  color: hsl(257, 7%, 63%);
  margin: auto;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 0.5rem;
}
nav .container .links .nav-item:hover {
  color: hsl(257, 27%, 26%);
}
@media (max-width: 720px) {
  nav .container .links .nav-item {
    padding: 0.5rem 0;
  }
  nav .container .links .nav-item:hover {
    color: hsl(260, 8%, 14%);
  }
}
nav .container .buttons {
  width: 9rem;
}
@media (max-width: 720px) {
  nav .container .buttons {
    width: 100%;
    flex-direction: column;
  }
}
nav .container .buttons button {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
}
@media (max-width: 720px) {
  nav .container .buttons button {
    margin: auto;
    padding: 0.5rem 0;
    width: 80%;
  }
}
nav .container .buttons .login_btn {
  background-color: transparent;
  color: hsl(257, 7%, 63%);
}

.body .lower_body {
  background-color: hsl(0, 0%, 75%);
}
.body .lower_body .boost {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: hsl(257, 27%, 26%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}
.body .lower_body .boost span {
  font-weight: 900;
  font-size: 2rem;
  color: white;
}
@media (max-width: 720px) {
  .body .lower_body .boost span {
    font-size: 1rem;
  }
}
.body .lower_body .boost button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.body .lower_body .features_container {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 720px) {
  .body .lower_body .features_container {
    flex-direction: column;
  }
}
.body .lower_body .features_container .second {
  transform: translateY(1.75rem);
}
.body .lower_body .features_container .third {
  transform: translateY(3.5rem);
}
.body .lower_body .features {
  width: 15rem;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.75rem;
  margin: 0 1rem;
  padding-top: 0;
  z-index: 50;
}
@media (max-width: 720px) {
  .body .lower_body .features {
    max-width: 80%;
    padding: 1rem;
    margin: 1.7rem auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.body .lower_body .features img {
  border-radius: 50%;
  background-color: hsl(257, 27%, 26%);
  width: 2rem;
  padding: 1rem;
  transform: translateY(-50%);
}
.body .lower_body .features span {
  color: hsl(257, 7%, 63%);
}
.body .lower_body .features h3 {
  font-weight: 700;
  color: hsl(260, 8%, 14%);
  margin-top: 0;
}
.body .lower_body .stats-title {
  text-align: center;
}
.body .lower_body .stats-title h2 {
  color: hsl(260, 8%, 14%);
}
.body .lower_body .stats-title span {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}
.body .lower_body .shortenedLink {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.body .lower_body .shortenedLink .outer_div {
  padding: 0.5rem;
  margin: 0.25rem 0;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body .lower_body .shortenedLink .outer_div span {
  display: flex;
  width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.body .lower_body .shortenedLink .outer_div .inner_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.body .lower_body .shortenedLink .outer_div .inner_div a {
  color: hsl(180, 66%, 49%);
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.body .lower_body .shortenedLink .outer_div .inner_div button {
  width: 4rem;
  border-radius: 0.3rem;
}
.body .lower_body .shortenedLink .outer_div .inner_div button.clicked {
  background-color: hsl(257, 27%, 26%);
}
.body .lower_body .linkForm {
  padding: 2rem;
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  position: relative;
  border-radius: 0.5rem;
}
@media (max-width: 720px) {
  .body .lower_body .linkForm {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.body .lower_body .linkForm button {
  width: 6.5rem;
  height: 2rem;
  border-radius: 0.3rem;
}
@media (max-width: 720px) {
  .body .lower_body .linkForm button {
    width: 100%;
    margin: 0.5rem auto;
  }
}
.body .lower_body .linkForm input {
  width: 100%;
  margin-right: 1rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0 1rem;
}
.body .lower_body .linkForm input:hover {
  border: none;
  outline: none;
}
@media (max-width: 720px) {
  .body .lower_body .linkForm input {
    width: -moz-available;
    margin: 0.5rem auto;
  }
}
.body .upper_body .container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 8rem;
}
@media (max-width: 720px) {
  .body .upper_body .container {
    flex-direction: column-reverse;
  }
}
.body .upper_body .container img {
  height: 20rem;
  position: relative;
  left: 15rem;
}
@media (max-width: 720px) {
  .body .upper_body .container img {
    height: auto;
    left: 0;
  }
}
.body .upper_body .container div {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 720px) {
  .body .upper_body .container div {
    margin-top: -4rem;
    padding-right: 2rem;
    text-align: center;
  }
}
.body .upper_body .container div h1 {
  color: hsl(260, 8%, 14%);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}
.body .upper_body .container div .intro-text {
  color: hsl(257, 7%, 63%);
}
.body .upper_body .container div .get-started-btn {
  width: 6.5rem;
  height: 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}
@media (max-width: 720px) {
  .body .upper_body .container div .get-started-btn {
    margin: auto;
    margin-top: 1.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: hsl(255, 11%, 22%);
  padding-top: 5rem;
}
footer a,
footer .socials a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}
footer a:hover,
footer .socials a:hover {
  color: hsl(180, 66%, 49%);
}
@media (max-width: 720px) {
  footer a,
  footer .socials a {
    margin: 0 auto;
  }
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 720px) {
  footer .container {
    flex-direction: column;
  }
}
footer .container .logo {
  width: 7rem;
  height: 2rem;
}
@media (max-width: 720px) {
  footer .container .logo {
    margin: -2rem auto 2rem auto;
  }
}
footer .container ul {
  text-decoration: none;
  list-style: none;
}
@media (max-width: 720px) {
  footer .container ul {
    position: relative;
    left: -1rem;
  }
}
footer .container ul li {
  margin: 0.4rem;
  font-size: 0.8rem;
}
footer .container ul .header {
  font-weight: 500;
  color: white;
}
footer .container .socials {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
@media (max-width: 720px) {
  footer .container .socials {
    align-content: space-around;
    width: 50%;
    margin: auto;
  }
}
footer .container .socials img {
  width: 1rem;
}
footer .container .lists {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
@media (max-width: 720px) {
  footer .container .lists {
    flex-direction: column;
    width: -moz-available;
    margin: auto;
    text-align: center;
  }
}

.attribution {
  font-size: 11px;
  color: wheat;
  text-align: center;
  margin-top: 3rem;
  padding: 0.25rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=index.css.map */